{
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"jsxBracketSameLine": true,
	"trailingComma": "all",
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 80,
	"tabWidth": 4,
	"arrowParens": "always"
}
