.home-top-banner {
  position: relative;
  background-color: #ff4e5d !important;
  background: url(../../img/bg/banner-bg.svg) no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 8rem;
  padding-top: 5rem;
  .shape-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
  }
  .shape-position-bottom {
    bottom: 0;
    margin-bottom: -70px;
  }
  .shape-container {
    svg {
      display: block;
      fill: #fff;
      pointer-events: none;
      vertical-align: baseline;
    }
  }
}
