<footer class="site-footer py-3 mt-3 pt-md-4 pb-md-4 mt-md-4">
  <div class="container">
    <div class="row d-none d-lg-flex mb-4">
      <div class="col-md-4">
        <div class="logo-wrapper">
          <a href="#"><img class="logo regular" src="./img/logo/logo-light.png" alt="tagtwp"></a></div>
        <p class="small mb-0">tagtwp : WordPress Themes Solutions for Worldwide Websites.</p>
      </div>
      <div class="col-md-2">
        <h4 class="footer-head">Most used link</h4>
        <ul class="list-unstyled footer-list">
          <li><a href="#">Theme template</a></li>
          <li><a href="#">Documentation Tutorial</a></li>
          <li><a href="#">Case display</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4 class="footer-head">About this site</h4>
        <ul class="list-unstyled footer-list">
          <li><a href="#">Member introduction</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="footer-head">Contact Us</h4>
        <small>When sending messages, there may be prompts. Thank you for your understanding and tolerance.</small>
      </div>
    </div>
    <div class="text-center small w-100">Copyright © 2017-2023 tagtwp.com. Design - All rights reserved</div>
    <!--            <div class="footer-links small d-none d-lg-block mt-2"><span>Links：</span>-->
    <!--                <ul>-->
    <!--                    <li>-->
    <!--                        <a href="#" target="_blank" title="Khmernews">Khmernews</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" target="_blank" title="Khmermovie">Khmermovie</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" target="_blank" title="Khmernews">Khmernews</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" target="_blank" title="Khmermovie">Khmermovie</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" target="_blank" title="Khmernews">Khmernews</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" target="_blank" title="Khmermovie">Khmermovie</a>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
  </div>
</footer>
<div class="overlay" data-menu-overlay></div>
