<header class="site-header navbar-sticky">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo" src="./img/logo/logo-light.png" alt="tagtwp"/>
      </a>
      <div class="navbar-toggler">
        <button type="button" class="notify btn btn-sm btn-primary position-relative btn-shopping"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wordprss</a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="#" class="notify btn btn-primary position-relative text-white btn-shopping">
            <i class="fa-solid fa-right-to-bracket"></i> Login
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <a class="navbar-brand offcanvas-title" id="offcanvasRightLabel" href="#">
        <img class="logo" src="./img/logo/logo-light.png" alt="tagtwp">
      </a>
      <i class="fa-solid fa-xmark" data-bs-dismiss="offcanvas" aria-label="Close"></i>
    </div>
    <div class="offcanvas-body">
      <div class="mobile-menu d-block d-lg-none">
        <div class="mobile-menu">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-0 text-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Wordpress</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</header>
