.site-header {
  background-color: transparent !important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  color: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,.07);
  box-shadow: 0 0 30px rgba(0,0,0,.07);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 80;
}
