.site-footer {
  background: #253140;
  color: #d0d4d9;
  a {
    color: #a1a1a8;
    text-decoration: none;
    &:hover {
      color: #d0d4d9;
    }
  }
  ul {
    margin: 0;
  }
  .logo-wrapper {
    min-width: 100px;
    max-height: 60px;
    width: auto;
    .logo.regular {
      min-width: 100px;
      max-height: 60px;
      width: auto;
    }
  }
  .footer-head {
    font-size: 1rem;
  }
  .footer-links {
    text-align: center;
    ul {
      display: inline;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline;
        white-space: nowrap;
        margin: 0 8px;
        margin-left: 0;
      }
    }
  }
}
